<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Restaurant App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
    <h1>Welcome to Our Restaurant</h1>
    <nav>
        <ul>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </nav>
</body>
</html>