<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'menu.css' %}">
</head>
<body>
    <li id="link"><a href="{% url 'home' %}">Home</a></li>
    <h1>restaurants</h1>
    {% for r in restaurant_list %}
    <ul>
        <li>restaurant name : {{ r.name }}</li>
        <li>restaurant phone number : {{ r.phone_number }}</li>
        <li>restaurant address : {{ r.address }}</li>
    </ul>        
    {% endfor %}

    <h1 class="section-title">foods</h1>
    {% for f in food_list %}
    <ul>
        <li>food name : {{ f.name }}</li>
        <li>food price : {{ f.price }}</li>
        <li>food spicy : {{ f.is_spicy }}</li>
        <li>food restaurant : {{ f.food_restaurant }}</li>
    </ul>
        {% endfor %}
    </div>
</body>
</html>